<ion-content>
  <!-- Osahan Index -->
  <div
    class="
      osahan-index
      bg-c
      d-flex
      align-items-center
      justify-content-center
      vh-100
      index-page
    "
  >
    <div class="text-center">
      <a routerLink="/get-started">
        <fa-icon
          icon="truck"
          class="text-white display-1 bg-purple p-4 rounded-circle"
        ></fa-icon></a
      ><br />
      <div class="spinner"></div>
    </div>
  </div>
  <div class="osahan-fotter fixed-bottom m-3">
    <a
      class="
        btn btn-block
        px-4
        py-3
        d-flex
        align-items-center
        osahanbus-btlan
        btn-purple
        shadow
      "
      routerLink="/get-started"
    >
      GET STARTED
      <fa-icon
        icon="arrow-right"
        class="text-white splash-arrow-right"
      ></fa-icon>
    </a>
  </div>
</ion-content>
