/* Verification */
.opt {
  border: 1px solid #dc3545 !important;
  border-radius: 6px;
  font-size: 46px;
  font-weight: 700;
  padding: 0px;
}
#verificationModal img {
  height: 80px;
}
h1.success-icon {
  font-size: 80px !important;
  color: #5bc550;
}
