<ion-header>
  <ion-toolbar>
    <div
      class="
        osahan-header-nav
        shadow-sm
        p-3
        d-flex
        align-items-center
        bg-purple
      "
    >
      <h5 class="font-weight-normal mb-0 text-white">
        <a class="text-purple" routerLink="/get-started"
          ><fa-icon icon="arrow-left" class="icofont-rounded-left"></fa-icon
        ></a>
        <ion-title>Verification</ion-title>
      </h5>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content id="content" fullscreen>
  <!-- <cdk-virtual-scroll-viewport
    class="scroll-viewport"
    #scroll
    itemSize="80"
    minBufferPx="900"
    maxBufferPx="1350"
  > -->
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <div
        class="
          osahan-header-nav
          shadow-sm
          p-3
          d-flex
          align-items-center
          bg-purple
        "
      >
        <h5 class="font-weight-normal mb-0 text-white">
          <a class="text-purple" routerLink="/get-started"
            ><fa-icon icon="arrow-left" class="icofont-rounded-left"></fa-icon
          ></a>
          <ion-title>Verification</ion-title>
        </h5>
      </div>
    </ion-toolbar>
  </ion-header> -->
  <div
    class="
      osahan-index
      bg-c
      d-flex
      align-items-center
      justify-content-center
      vh-80
      index-page
    "
  >
    <div class="osahan-form px-3 py-5 text-center mb-5">
      <div class="row my-5 px-3 pb-2">
        <div class="col px-1">
          <input
            type="number"
            value="1"
            class="
              form-control
              otp
              text-purple
              form-control-lg
              text-center
              pb-0
              px-0
            "
          />
        </div>
        <div class="col px-1">
          <input
            type="number"
            value="3"
            class="
              form-control
              otp
              text-purple
              form-control-lg
              text-center
              pb-0
              px-0
            "
          />
        </div>
        <div class="col px-1">
          <input
            type="number"
            value="1"
            class="
              form-control
              otp
              text-purple
              form-control-lg
              text-center
              pb-0
              px-0
            "
          />
        </div>
        <div class="col px-1">
          <input
            type="number"
            value="3"
            class="
              form-control
              otp
              text-purple
              form-control-lg
              text-center
              pb-0
              px-0
            "
          />
        </div>
      </div>
      <button
        type="submit"
        name="submit_button"
        class="btn btn-purple btn-block osahanbus-btn mb-4"
        routerLink="/payment"
      >
        VERIFICATION
      </button>
      <p class="text-muted">
        Didn't receive code?<a href="#" class="ml-2 text-orange">Resend</a>
      </p>
    </div>
  </div>
</ion-content>
