<ion-app>
  <ion-menu side="start" contentId="app-content">
    <ion-content>
      <a
        href="#"
        class="
          bg-purple
          sidebar-user
          d-flex
          align-items-center
          py-4
          px-3
          border-0
          mb-0
        "
        [routerDirection]="'root'"
        routerLink="/"
      >
        <!-- <img
          src="../assets/img/user1.jpg"
          class="img-fluid rounded-pill mr-3"
        /> -->
        <ngx-avatar
          name="Indian Transport"
          (clickOnAvatar)="avatarClicked($event)"
          size="50"
        ></ngx-avatar>
        <div class="text-white ml-2">
          <h6 class="mb-0">I Am Osahan</h6>
          <small>+91 12345-67890</small><br />
          <span class="f-10 text-white-50">Version 1.32</span>
        </div>
      </a>
      <ion-list>
        <ion-item detail="false" [routerDirection]="'root'" routerLink="/">
          <ion-icon name="mail" slot="start"></ion-icon>
          <ion-label>Inbox</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="paper-plane" slot="start"></ion-icon>
          <ion-label>Outbox</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="heart" slot="start"></ion-icon>
          <ion-label>Favorites</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="archive" slot="start"></ion-icon>
          <ion-label>Archived</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="trash" slot="start"></ion-icon>
          <ion-label>Trash</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="warning" slot="start"></ion-icon>
          <ion-label>Spam</ion-label>
        </ion-item>
      </ion-list>
      <a
        href="#"
        class="
          bg-purple
          sidebar-user
          py-2
          px-2border-0
          mb-0
          fixed-bottom
          text-align-center
        "
        [routerDirection]="'root'"
        routerLink="/"
      >
        <div class="text-white">
          <h6 class="mb-0">Logout</h6>
        </div>
      </a>
    </ion-content>
  </ion-menu>
  <ion-router-outlet
    id="app-content"
    overflow-scroll="true"
  ></ion-router-outlet>
</ion-app>
