<!-- <ion-content padding class="main-view"> -->
<div
  class="
    osahan-index
    bg-c
    d-flex
    align-items-center
    justify-content-center
    vh-100
    index-page
  "
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content mx-4 rounded-2 pt-0">
      <div class="modal-header d-none"></div>
      <div class="modal-body text-center py-4">
        <img src="../assets/img/valid.png" class="img-fluid mb-2" />
        <h3 class="text-center text-purple mb-2">Registered Successfully</h3>

        <p class="mb-4">The system is waiting for the<br />the explore</p>
        <a (click)="dismiss()" class="btn btn-purple">OK</a>
      </div>
    </div>
  </div>
</div>
<!-- </ion-content> -->
