<ion-header>
  <!-- <ion-toolbar> -->
  <div
    class="osahan-header-nav shadow-sm p-3 d-flex align-items-center bg-purple"
  >
    <h5 class="font-weight-normal mb-0 text-white">
      <a class="text-purple" routerLink="/listing"
        ><fa-icon icon="arrow-left" class="icofont-rounded-left"></fa-icon
      ></a>
      <ion-title>{{'APP.LISTING_DETAILS.TITLE' | translate}}</ion-title>
    </h5>
    <div class="ml-auto d-flex align-items-center">
      <img src="assets/img/user1.jpg" class="img-fluid rounded-circle" />
      <ion-buttons slot="end">
        <ion-menu-button
          ><fa-icon icon="bars" class="icofont-navigation-menu"></fa-icon
        ></ion-menu-button>
      </ion-buttons>
    </div>
  </div>
  <!-- </ion-toolbar> -->
</ion-header>

<ion-content id="content" fullscreen>
  <!-- <cdk-virtual-scroll-viewport
    class="scroll-viewport"
    #scroll
    itemSize="80"
    minBufferPx="900"
    maxBufferPx="1350"
  > -->

  <ion-grid>
    <ion-row>
      <ion-col size="12" *ngIf="company">
        <div class="Bus-Details padding-bt">
          <div class="list_item m-0 bg-white">
            <div class="px-2 py-3 tic-div border-bottom d-flex">
              <!-- <img
                src="assets/img/listing/item1.png"
                class="img-fluid border rounded p-1 shape-img mr-3"
              /> -->
              <ngx-avatar
                size="40"
                initialsSize="2"
                cornerRadius="4"
                [round]="false"
                name="{{ company.firstName }} {{ company.lastName }}"
                [style]="initials"
              ></ngx-avatar>
              <div class="w-100 margin-left-15">
                <ion-label>
                  <h3 class="my-1 l-hght-18 font-weight-bold">
                    {{ company.firstName }} {{ company.lastName }}
                  </h3>
                </ion-label>

                <div class="start-rating f-10">
                  <div class="d-flex mt-1">
                    <p class="m-0">
                      <fa-icon
                        icon="map-marker-alt"
                        class="map-marker-alt"
                      ></fa-icon
                      ><span class="small">{{ company.location }}</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="bus-details pt-2 pb-0 px-2">
              <div class="info" id="info">
                <ion-label>
                  <h3 class="font-weight-normal mb-1">
                    {{'APP.LISTING_DETAILS.ABOUT' | translate}} {{ company.companyName }}
                  </h3>
                </ion-label>

                <p class="text-muted small">
                  {{'APP.LISTING_DETAILS.TEXT' | translate}}
                </p>
              </div>
            </div>
            <div class="bus-details pt-2 pb-0 px-2">
              <div class="info" id="info">
                <ion-label>
                  <h3 class="font-weight-normal mb-1">{{'APP.LISTING_DETAILS.LABEL.FIRM_ACTIVITY' | translate}}</h3>
                </ion-label>

                <p class="text-muted">
                  {{ company.firmActivity }}
                </p>
              </div>
            </div>
            <div class="bus-details pt-2 pb-0 px-2">
              <div class="info" id="info">
                <ion-label>
                  <h3 class="font-weight-normal mb-1">{{'APP.LISTING_DETAILS.LABEL.SERVICE_PROVIDING' | translate}}</h3>
                </ion-label>

                <p class="text-muted">
                  {{ company.serviceProviding }}
                </p>
              </div>
            </div>
            <div class="bus-details pt-2 pb-0 px-2">
              <div class="info" id="info">
                <ion-label>
                  <h3 class="font-weight-normal mb-1">{{'APP.LISTING_DETAILS.LABEL.MOBILE_NUMBER' | translate}}</h3>
                </ion-label>

                <p class="text-muted">
                  {{ company.mobileNumber }}
                </p>
              </div>
            </div>
            <div class="bus-details pt-2 pb-0 px-2">
              <div class="info" id="info">
                <ion-label>
                  <h3 class="font-weight-normal mb-1">{{'APP.LISTING_DETAILS.LABEL.LANDLINE_NUMBER' | translate}}</h3>
                </ion-label>

                <p class="text-muted">
                  {{ company.landlineNumber }}
                </p>
              </div>
            </div>
          </div>

          <!-- Button -->
          <div class="osahan-fotter fixed-bottom m-3">
            <a class="btn btn-purple btn-block osahanbus-btn rounded-1"
              >{{'APP.LISTING_DETAILS.BUTTON.CALL_NOW' | translate}}</a
            >
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
