/* Button Styles */
.google-btn {
  background-color: #ffffff;
  border-color: #507cc0;
  color: #507cc0 !important;
}
.fb-btn {
  background-color: #ffffff;
  border-color: #df4930;
  color: #df4930 !important;
}
/* Signin */
.sign-or hr {
  width: 130px;
  border-top: 1px solid #dee2e6;
}
