<ion-header>
  <!-- <ion-toolbar> -->
  <div
    class="osahan-header-nav shadow-sm p-3 d-flex align-items-center bg-purple"
  >
    <h5 class="font-weight-normal mb-0 text-white">
      <a class="text-purple" routerLink="/get-started"
        ><fa-icon icon="arrow-left" class="icofont-rounded-left"></fa-icon
      ></a>
      <ion-title>{{'APP.CREATE_ACCOUNT.HEADER' | translate}}</ion-title>
    </h5>
  </div>
  <!-- </ion-toolbar> -->
</ion-header>

<ion-content id="content" fullscreen>
  <!-- <cdk-virtual-scroll-viewport
    class="scroll-viewport"
    #scroll
    itemSize="80"
    minBufferPx="900"
    maxBufferPx="1350"
  > -->
  <div
    class="
      osahan-index
      bg-c
      d-flex
      align-items-center
      justify-content-center
      vh-100
      index-page
    "
  >
    <div class="px-3 py-3">
      <form [formGroup]="createCompanyForm" #createForm>
        <ion-list>
          <div class="form-group mb-3">
            <ion-input
              class="form-control rc-form-control it-form-control"
              placeholder="{{'APP.CREATE_ACCOUNT.PLACEHOLDER.FIRST_NAME' | translate}}"
              inputMode="text"
              clearInput="true"
              formControlName="firstName"
              required
            ></ion-input>
          </div>

          <div class="form-group mb-3">
            <ion-input
              class="form-control rc-form-control it-form-control"
              placeholder="{{'APP.CREATE_ACCOUNT.PLACEHOLDER.LAST_NAME' | translate}}"
              inputMode="text"
              clearInput="true"
              formControlName="lastName"
              required
            ></ion-input>
          </div>

          <div class="form-group mb-3">
            <ion-input
              class="form-control rc-form-control it-form-control"
              placeholder="{{'APP.CREATE_ACCOUNT.PLACEHOLDER.COMPANY_NAME' | translate}}"
              inputMode="text"
              clearInput="true"
              formControlName="companyName"
              required
            ></ion-input>
          </div>

          <div class="form-group mb-3">
            <ion-select
              interface="popover"
              class="form-control rc-form-control native-select it-form-control"
              role="combobox"
              placeholder="{{'APP.CREATE_ACCOUNT.PLACEHOLDER.SELECT_FIRM_ACTIVITY' | translate}}"
              slot
              formControlName="firmActivity"
              required
            >
              <ion-select-option value="Freight Forwarders"
                >{{'APP.CREATE_ACCOUNT.SELECT.FIRM_ACTIVITY.FREIGHT' | translate}}</ion-select-option
              >
              <ion-select-option value="{{'APP.CREATE_ACCOUNT.SELECT.FIRM_ACTIVITY.BOOKING' | translate}}">{{'APP.CREATE_ACCOUNT.SELECT.FIRM_ACTIVITY.BOOKING' | translate}}</ion-select-option>
              <ion-select-option value="{{'APP.CREATE_ACCOUNT.SELECT.FIRM_ACTIVITY.SUPPLIER' | translate}}">{{'APP.CREATE_ACCOUNT.SELECT.FIRM_ACTIVITY.SUPPLIER' | translate}}</ion-select-option>
              <ion-select-option value="{{'APP.CREATE_ACCOUNT.SELECT.FIRM_ACTIVITY.OWNER' | translate}}">{{'APP.CREATE_ACCOUNT.SELECT.FIRM_ACTIVITY.OWNER' | translate}}</ion-select-option>
            </ion-select>
          </div>

          <div class="form-group mb-3">
            <ion-select
              multiple="true"
              class="form-control rc-form-control native-select it-form-control"
              placeholder="{{'APP.CREATE_ACCOUNT.PLACEHOLDER.SELECT_SERVICE_PROVIDING' | translate}}"
              formControlName="serviceProviding"
              cancelText="{{'APP.CREATE_ACCOUNT.BUTTON.CANCEL' | translate}}"
              okText="{{'APP.CREATE_ACCOUNT.BUTTON.OK' | translate}}"
            >
              <ion-select-option
                *ngFor="let vehicleType of vehicleTypes"
                selected="false"
                value="{{ vehicleType | translate}}"
                title="{{ vehicleType | translate}}"
                >{{ vehicleType | translate}}</ion-select-option
              >
            </ion-select>
          </div>

          <div class="form-group mb-3">
            <ion-select
              interface="popover"
              class="form-control rc-form-control native-select it-form-control"
              placeholder="{{'APP.CREATE_ACCOUNT.PLACEHOLDER.SELECT_LOCATION' | translate}}"
              formControlName="location"
              required
            >
              <ion-select-option
                *ngFor="let location of locations"
                value="{{ location.name | translate}}"
                title="{{ location.name | translate}}"
                >{{ location.name | translate}}</ion-select-option
              >
            </ion-select>
          </div>

          <div class="form-group mb-3">
            <ion-input
              class="form-control rc-form-control it-form-control"
              placeholder="{{'APP.CREATE_ACCOUNT.PLACEHOLDER.MOBILE_NUMBER' | translate}}"
              inputMode="tel"
              clearInput="true"
              formControlName="mobileNumber"
              required
            ></ion-input>
          </div>

          <div class="form-group mb-3">
            <ion-input
              class="form-control rc-form-control it-form-control"
              placeholder="{{'APP.CREATE_ACCOUNT.PLACEHOLDER.LANDLINE_NUMBER' | translate}}"
              inputMode="tel"
              clearInput="true"
              formControlName="landlineNumber"
            ></ion-input>
          </div>
        </ion-list>
        <button
          type="submit"
          class="btn btn-purple btn-block osahanbus-btn rounded-1"
          slot="end"
          fill="clear"
          [disabled]="!createCompanyForm.valid"
          (click)="createCompany(createCompanyForm.value)"
        >
        {{'APP.CREATE_ACCOUNT.BUTTON.REGISTER' | translate}}
        </button>
      </form>
      <div class="sign-or d-flex align-items-center justify-content-center">
        <hr class="mr-4" />
        <p class="text-muted text-center py-2 m-0">{{'APP.CREATE_ACCOUNT.PLACEHOLDER.OR' | translate}}</p>
        <hr class="ml-4" />
      </div>
      <div class="osahan-signin text-center text-purple p-1">
        <p class="mb-3">
          {{'APP.CREATE_ACCOUNT.PLACEHOLDER.ALREADY_A_MEMBER' | translate}}
          <a routerLink="/signin" class="text-orange ml-2">{{'APP.CREATE_ACCOUNT.BUTTON.SIGN_IN' | translate}}</a>
        </p>
      </div>
    </div>
  </div>
</ion-content>
