<ion-header>
  <!-- <ion-toolbar> -->
  <div
    class="osahan-header-nav shadow-sm p-3 d-flex align-items-center bg-purple"
  >
    <h5 class="font-weight-normal mb-0 text-white">
      <a class="text-purple" routerLink="/get-started"
        ><fa-icon icon="arrow-left" class="icofont-rounded-left"></fa-icon
      ></a>
      <ion-title>Sign In</ion-title>
    </h5>
  </div>
  <!-- </ion-toolbar> -->
</ion-header>

<ion-content id="content" fullscreen>
  <!-- <cdk-virtual-scroll-viewport
    class="scroll-viewport"
    #scroll
    itemSize="80"
    minBufferPx="900"
    maxBufferPx="1350"
  > -->
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <div
        class="
          osahan-header-nav
          shadow-sm
          p-3
          d-flex
          align-items-center
          bg-purple
        "
      >
        <h5 class="font-weight-normal mb-0 text-white">
          <a class="text-purple" routerLink="/get-started"
            ><fa-icon icon="arrow-left" class="icofont-rounded-left"></fa-icon
          ></a>
          <ion-title>Sign In</ion-title>
        </h5>
      </div>
    </ion-toolbar>
  </ion-header> -->
  <div
    class="
      osahan-index
      bg-c
      d-flex
      align-items-center
      justify-content-center
      vh-80
      index-page
    "
  >
    <div class="osahan-form px-3">
      <ion-list>
        <div class="form-group mb-2">
          <ion-label class="text-muted mb-1">Mobile Number</ion-label>
          <ion-input
            class="form-control rc-form-control mt-2"
            name="mobileNumber"
          ></ion-input>
        </div>
      </ion-list>
      <button
        type="submit"
        class="btn btn-purple btn-block osahanbus-btn mb-3 rounded-1 mt-3"
        slot="end"
        fill="clear"
        (click)="signIn()"
      >
        SIGN IN
      </button>
      <div
        class="sign-or d-flex align-items-center justify-content-center mb-4"
      >
        <hr class="mr-4" />
        <p class="text-muted text-center py-2 m-0">OR</p>
        <hr class="ml-4" />
      </div>
      <div class="osahan-signin text-center text-purple p-1">
        <p class="m-0">
          Not a member ?
          <a routerLink="/signup" class="text-orange ml-2">Sign Up</a>
        </p>
      </div>
    </div>
  </div>
</ion-content>
